# Godot 4+ specific ignores
.godot/


_docs/.obsidian

# Launch configurations took some work to configure, definately saving that
#.vscode/

# Hide those ugly .uid and .import files godot 4.6 is generating
# .vscode/settings.json