# Godot 4+ specific ignores
.godot/

# Obsidian specific folders and files
_docs_rpgsys/.obsidian/workspace.json
_docs_rpgsys/.obsidian/plugins/**

# Launch configurations took some work to configure, definately saving that
#.vscode/

# Hide those ugly .uid and .import files godot 4.6 is generating
# .vscode/settings.json
